*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Press Start 2P', cursive;
    overflow:hidden;
    background:#000;
}

/* ================= LOADING SCREEN ================= */

#loading-screen{
    position:fixed;
    width:100%;
    height:100vh;

    background:linear-gradient(#7ec850,#3f8f36);

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    color:white;

    z-index:9999;
}

#loading-screen h1{
    margin-bottom:40px;
    text-align:center;
}

.loading-bar{

    width:70%;
    max-width:600px;

    height:35px;

    background:#444;

    border:4px solid white;

    overflow:hidden;

}

.loading-progress{

    width:0%;

    height:100%;

    background:#6cff54;

    animation:load 5s forwards;

}

@keyframes load{

    from{
        width:0%;
    }

    to{
        width:100%;
    }

}

/* ================= MAIN MENU ================= */

#main-menu{

    display:none;

    width:100%;
    height:100vh;

    background-image:url("https://images.unsplash.com/photo-1627856013091-fed6e4e30025?q=80&w=1920&auto=format&fit=crop");

    background-size:cover;
    background-position:center;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    gap:40px;

}

#main-menu h1{

    color:white;

    text-shadow:5px 5px black;

    font-size:2rem;

    text-align:center;

}

#enter-btn{

    font-family:'Press Start 2P', cursive;

    padding:20px 45px;

    background:#7ec850;

    border:5px solid #2f5b25;

    cursor:pointer;

    transition:.25s;

}

#enter-btn:hover{

    transform:scale(1.08);

    background:#95ff74;

}
/* ================= SPAWN ================= */

#spawn{
    display:none;

    height:100vh;

    background:linear-gradient(#69b84f,#87ceeb);

    color:white;

    text-align:center;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    gap:35px;
}

#spawn h1{

    font-size:2rem;

    text-shadow:4px 4px black;

}

.welcome{

    width:70%;

    font-size:15px;

    line-height:2;

}

#start-adventure{

    padding:20px 40px;

    font-family:'Press Start 2P';

    cursor:pointer;

    background:#7ec850;

    border:4px solid #2d5d25;

}
